@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

.game-area {
    position: relative;
    width: 80%;
    height: 80%;
    background: darkgreen;
    /* background: url('https://i.pinimg.com/originals/51/64/23/516423d8a2d73309efba8f221ab7740c.png'); */
    /* background-size: cover; */
    filter: grayscale(40%);
    overflow-y: hidden;
    overflow-x: hidden;
}
.snake-dot:nth-child(1n) {
    background-color: #00ff00;
}
.snake-dot:nth-child(2n) {
    background-color: #00e300;
}
.snake-dot:first-child {
    background-color: #00ff00a0;
}

.snake-head {
    background-color:#59ff00 !important;
    border-radius: 50%;
}

.snake-dot {
    position: absolute;
    /* width: 2.5%; */
    width: 5%;
    /* height: 2.5%; */
    height: 5%;
    border-radius: 20%;
}

.food-dot {
    position: absolute;
    /* width: 2.5%; */
    width: 5%;
    /* height: 2.5%; */
    height: 5%;
    /* scale: 2.5; */

    /* background-color: crimson; */
    background-image: url('https://lh3.googleusercontent.com/JYUzZNa6isr_t-Xu48qCWBYfOgqEzxISSq5rgIr996xOhmM7t3UkJFiHm5NYD5KrguBDnLFpbXHV2UzpifEoJw');
    background-size: contain;
    border-radius: 100px;
}

h1, p {
    font-family: 'Ubuntu', sans-serif;
    color: snow;
}

.game-info .row {
    display: flex;
    justify-content: space-around;
}